// Colors
$orange: #fba132;
$orange-light: #ffd264;
$orange-dark: #c37200;

$blue: #328cfb;
$blue-light: #78bcff;
$blue-dark: #0060c7;

$black: #212121;
$white: #fefefe;
$grey-light: #ededed;
$grey-dark: #a6a6a6;

$red: #be0817;
