// Colors
$orange: #FBA132;
$orange-light: #FFD264;
$orange-dark: #C37200;

$blue: #328CFB;
$blue-light: #78BCFF;
$blue-dark: #0060C7;

$black: #212121;
$grey-light: #F5F5F5;
$grey-dark: #A6A6A6;

$red: #BE0817;

// Fonts
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

