section {
    &.section--white {
        background-color: $white;
    }
    
    &.section--grey {
        background-color: $grey-light;
    }

    &.section--image {
        background-image: url('./frontend/images/dots.png');
        background-color: $orange;

        background-size: contain;

        .columns {
            background: $white;
        }
    }
}